body {
  background-color: #eef5fb !important;
}

main {
  padding-top: 4em !important;
}

.logout-btn {
  border-color: transparent !important;
  background-color: transparent !important;
}

.logout-btn:hover {
  color: #1b4d81 !important;
}

.dropdown-menu {
  min-width: 6.5em !important;
}
